<h4>{{answer.title}}</h4>
<h5>User: {{answer.author}}</h5>
<p>{{answer.body}}</p>
<h5>Category: {{answer.subject}}</h5>
<h5>Sub-Category: {{answer.category}}</h5>

<button {{action 'delete' answer}}>Delete</button>
