<h5>Answer to {{answer.question.title}}</h5>
<h4>Title: {{answer.title}}</h4>
<h5>User: {{answer.user}}</h5>
<p class="answer">{{answer.body}}</p>
<h5>Category: {{answer.subject}}</h5>
<h5>Sub-Category: {{answer.category}}</h5>

<button {{action 'delete' answer}}>Delete</button>
