{{#link-to 'question' question.id}}
  <li><h4>{{question-popularity question}}{{questionAndUser}}</h4></li>
{{/link-to}}
  <p>{{question.body}}</p>
    <h4>Category: {{question.category}}</h4>
    <h5>Subject: {{question.subject}}</h5>

  <br>
  {{update-question question=question updateQuestion="updateQuestion"}}
  <br>
  <button {{action 'delete' question}}>Delete Question</button>
  <hr>
