{{#if isQuestionDetailed}}
  {{#link-to 'question' question.id}}
    <li><h3>{{questionAndUser}}</h3></li>
  {{/link-to}}
      <p {{action 'questionHide'}}>{{question.body}}</p>
        <h4>Category: {{question.category}}</h4>
        <h5>Subject: {{question.subject}}</h5>
{{else}}
  <li {{action 'questionShow'}}>{{question.title}} | {{question.user}}</li>
{{/if}}
  <br>
  {{update-question question=question updateQuestion="updateQuestion"}}
  <br>
  <button {{action 'delete' question}}>Delete Question</button>
  <hr>
