<!-- <h5>Answer to {{answer.question.title}}</h5> -->
<h4>Title: {{question.title}}</h4>
<h5>User: {{question.user}}</h5>
<p id="question">{{question.body}}</p>
<h5>Category: {{question.subject}}</h5>
<h5>Sub-Category: {{question.category}}</h5>

<button {{action 'delete' question}}>Delete</button>
