<h2 class="title">{{#link-to 'index'}}FORUM{{/link-to}}</h2>


    <ul class="nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'sign-in'}}Sign-in{{/link-to}}</li>
      <li>{{#link-to 'sign-up'}}Sign-up{{/link-to}}</li>
      <li>
        {{#if session.isAuthenticated}}
          <button class='btn btn-default' {{action   'signOut'}}>
            {{fa-icon 'sign-out'}} Sign Out
          </button>
        {{/if}}
      </li>
    </ul>

<div class="container">

<div class="row">
  <div class="col-md-9">
    {{#if session.isAuthenticated}}
      <div class='page-header'>
          <h1>Welcome, you are signed in!</h1>
      </div>
      <div class='panel panel-default'>
          <div class='panel-heading'>{{session.currentUser.email}}</div>
          <div class='panel-body'>
              <img src='{{session.currentUser.profileImageURL}}' />
          </div>
      </div>
    {{/if}}
  </div>
</div>

  {{outlet}}

</div>
