<h4>Post your questions for below for others to answer</h4>

  <br>

  <h5>Click a title to see the question. Click the question to hide it again</h5>

<hr>
<h3>Answers</h3>
  <ul>
    {{#each model.answer as |answer|}}
      {{answer-tile answer=answer updateAnswer= "updateAnswer" destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ul>

  {{new-answer saveAnswer="saveAnswer"}}

<br>

<h3>Questions</h3>

  <ul>
    {{#each model.question as |question|}}
      <li>{{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</li>
    {{/each}}
  </ul>

  <!-- {{new-question saveQuestion="saveQuestion"}} -->

  <!-- {{new-question save="save"}} -->
