<h4>Post your questions for below for others to answer</h4>

  <br>

  <h5>Click a title to see the question. Click the question to hide it again</h5>

<hr>
<h3>Questions</h3>

<ul>
  {{#each model.question as |question|}}
  {{question-tile question=question updateQuestion="updateQuestion" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{#if session.isAuthenticated}}
{{new-question saveQuestion="saveQuestion"}}
{{else}}
<p>You must be signed in to create new questions</p>
{{/if}}

<hr>

<h4>Answers</h4>
  <ul>
    {{#each model.answer as |answer|}}
      {{answer-tile answer=answer updateAnswer= "updateAnswer" destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ul>

{{#if session.isAuthenticated}}
  {{new-answer saveAnswer="saveAnswer"}}
{{else}}
  <p>You must be signed in to create new answers</p>
{{/if}}
<br>
