<br>

{{#link-to 'index'}}<i class="fa fa-arrow-left"></i> Back{{/link-to}}

<h2>{{model.title}}</h2>

<br>

  {{question-tile question=model destroyQuestion="destroyQuestion"}}

    <br>

    <h4>Answers</h4>
      <ul>
        {{#each model.answer as |answer|}}
          {{answer-tile answer=answer updateAnswer= "updateAnswer" destroyAnswer="destroyAnswer"}}
        {{/each}}
      </ul>

      {{#if session.isAuthenticated}}
        {{new-answer saveAnswer="saveAnswer"}}
      {{else}}
        <p>You must be signed in to create new answers</p>
      {{/if}}
